{% extends 'base.html.twig' %}

{% block body %}

    <div id="home-top-container">
        {% if app.user %}
            <p>
                Bonjour {{ app.user.firstName }}, Bienvenue sur My VIP Spa !
            </p>
        {% endif %}
        <div id="home-top" class="col-md-6 mx-auto d-flex flex-column justify-content-center">
            <h1 class="p-1">Trouvez votre prochaine séance de Spa privée</h1>
            <p class="p-1">Recherchez des offres de Spa privée avec hammam, jacuzzi, sauna, piscine et plus encore</p>
            <br>
            <div class="d-flex flex-wrap p-1">
                <h3 class="col-12 text-center"><strong>Comment ça marche ?</strong></h3>
                <div id="home-steps" class=" justify-content-center align-content-center w-100 text-center">
                    <p class=" col-12 col-lg-4"><strong>Etape 1 :</strong> Je sélectionne un spa</p>
                    <p class="col-12 col-lg-4"><strong>Etape 2 :</strong> Je choisis un forfait et je paye</p>
                    <p class="col-12 col-lg-4"><strong>Etape 3 :</strong> Je plannifie ma séance<br> par e-mail ou
                        téléphone avec le
                        Spa
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
    <div id="main-content-container" class="row mt-3">
        {% include 'booking/_filter.html.twig' %}

        <div id="cards" class="col-lg-10">
            <div class="row">
                {% if rooms is empty %}
                    <p>Nous sommes désolées, il n'y a pas encore de Spa à cet endroit !</p>
                {% else %}
                    {% for room in rooms %}
                        <div class="col-6 col-lg-3">
                            <a href="{{ path('product-room', {'id' : room.id}) }}">
                                <div class="card mb-2 ms-2 me-2">
                                    <img src="{{ asset('images/spa/room/' ~ room.imageName) }}" class="card-img-top"
                                         alt="{{ room.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ room.name }}</h5>
                                        <p class="card-text">{{ room.spa.city.name }}</p>
                                        <p class="card-text"> A partir de {{ room.priceHour }}€</p>
                                        <button class="btn btn-secondary btn-lg">Réserver</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}