{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des comptes adminitrateur</h1>

    <table class="table">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th></th>
        </tr>


        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.firstName}}</td>
                <td>{{ admin.lastName}}</td>
                <td>{{ admin.email }}</td>
                <td>
                <form action="{{ path('admin_remove-account') }}" method="GET">
                    <input type="hidden" name="adminId" value="{{admin.id}}">
                    <button id="delete-form" type="submit" class="btn btn-danger btn-sm"
                    >x
                    </button>
                </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

