{% extends 'base.html.twig' %}

{% block body %}



    <div class="card mb-3 col-md-8 mx-auto mt-5">
        <div id="card-design">
            <div id="card-image" class="col-md-6 col-sm-12">
                <img src="{{ asset('images/spa/room/' ~ room.imageName) }}" class="card-img-top"
                     alt="{{ room.name }}">
            </div>
            <div class="card-body col-md-6 col-sm-12">
                <h5 class="card-title">{{ room.name }}</h5>
                <p class="card-text text-body-secondary">Prix de l'heure : {{ room.priceHour }} €
                </p>
                <p class="card-text"> {{ room.description }}</p>
                <p class="card-text"><small class="text-body-secondary">Capacité : {{ room.capacity }}
                        personnes </small>
                </p>

                <p class="card-text"><small class="text-body-secondary">Equipement(s):</small></p>
                {% for roomEquipment in room.equipment %}
                    <p class="card-text"><small class="text-body-secondary">{{ roomEquipment.name }}</small></p>
                {% endfor %}

                <form class="text-center" action="{{ path('cart_add',{'id' : room.id}) }}" method="GET">
                    <label for="duration-select">Sélectionnez le forfait souhaité:</label>
                    <select class="form-select text-center w-25 mx-auto" name="hours" id="duration-select">
                        <option value="1">1h</option>
                        <option value="2">2h</option>
                        <option value="3">3h</option>
                    </select>
                    <br>
                    <button type="submit" class="btn btn-secondary btn-lg">Ajouter au panier</button>
                </form>
            </div>
        </div>


    </div>




    {#    //ancien
    <h1>Salle {{ room.name }}</h1>
    <img src="{{ asset('images/spa/room/' ~ room.imageName) }}">
    <div>
        Description : {{ room.description }}
        Capacité : {{ room.capacity }}
        {% for roomEquipment in room.equipment %}
            Equipement : {{ roomEquipment.name }}
        {% endfor %}
        Prix de l'heure : {{ room.priceHour }}


        <form action="{{ path('cart_add',{'id' : room.id}) }}" method="GET">
            <label for="duration-select">Durée:</label>
            <select name="hours" id="duration-select">
                <option value="1">1h</option>
                <option value="1.5">1h30</option>
                <option value="2">2h</option>
            </select>
            <button type="submit">Ajouter au panier</button>
        </form>


    </div> #}

{% endblock %}


