{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('owner_bookings') }}"> <button class="btn btn-dark">Liste des commandes</button></a>


    <h1>Commandes à plannifier </h1>

    <table class="table">
        <tr>
            <th>Date de la transaction</th>
            <th>N°de booking</th>
            <th>Statut</th>
            <th>Spa</th>
            <th>Salle</th>
            <th>Durée</th>
            <th>Montant</th>
            <th>Date planifiée</th>
            <th>Nom du client</th>
            <th>Prénom du client</th>
            <th>Email du client</th>
            <th>Date planifié</th>


            <th></th>
        </tr>


        <tbody>
        {% for booking in boookings %}
            <tr>
                <td>{{ booking.createdAt|format_datetime() }}</td>
                <td>{{ booking.id }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.room.spa.name }}</td>
                <td>{{ booking.room.name }}</td>
                <td>{{ booking.duration }}</td>
                <td>{{ booking.totalAmount ~ ' €' }}</td>
                <td>{{ booking.startDate|format_datetime() }}</td>
                <td>{{ booking.user.lastName }}</td>
                <td>{{ booking.user.firstName }}</td>
                <td>{{ booking.user.email }}</td>
                <td>
                    <form action="{{ path('schedule-booking') }}" method="POST">
                        <input type="hidden" name="bookingId" value="{{ booking.id }}">
                        <input type="datetime-local" name="bookingStartDate">



                        <button type="submit" class="btn btn-sm">Valider
                        </button>
                    </form>
                </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}