<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path ('default_home') }}">Mon Spa Privé</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{{ path ('default_home') }}">Réserver</a>
                {% if app.user %}
                    <a class="nav-link" href="{{ path ('my-account') }}">Mon compte</a>
                {% else %}
                    <a class="nav-link" href="{{ path ('app_login') }}">Se connecter</a>
                    <a class="nav-link" href="{{ path ('signuppage') }}">S'inscrire</a>
                {% endif %}
                <a class="nav-link" href="{{ path ('cart') }}">Mon Panier</a>
                {% if app.user %}
                    <a class="nav-link" href="{{ path ('app_logout') }}">Déconnexion</a>
                {% endif %}
            </div>

            <div class="ms-auto">
                    <a class="nav-link" href="{{ path ('owner_signup') }}">S'inscrire en tant qu'entreprise</a>
                </div>
        </div>
    </div>
</nav>